body 
{
	font : 20px Tahoma ;
	text-align: center;
	color : black;
	background-color: #eee6ff;
	margin:0;
    padding:0;
}


.contenuOnglets{
    margin-top: 5px;
    width: 100%;
    height: 50px;
}

.contenuOnglets .boutons{
    height : 100%;
}


.contenuOnglets .boutons button{
    width: 25%;
    height: 100%;
    float: left;
    border :none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    font-family: Tahoma;
    color: white;
    font-size: 15px;
    background-color: #8842d4;

}

.contenuOnglets .boutons button:hover{
    background-color: #6c31ad;
}

.container{
	overflow: hidden;
	padding: 10px;
	position: relative;
}

.container:before{
	content: '';
	width: 8px;
	height: 100%;
	background : black;
	position: absolute;
	left: 20px;

}


.content{
	background:white;
	padding: 20px;
	margin-top: 60px;
	margin-left: 60px;
	width: 90%;
	border-radius: 8px;
	position: relative;
}

/*.content:before{
	content: '';
	width: 20px;
	height: 20px;
	background : black;
	position: absolute;
	left: -56px;
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
}*/

.content:after{
	content: '';
	width: 40px;
	height: 40px;
	background : black;
	border-radius: 50%;
	position: absolute;
	left: -65px;
	top: 50%;
	transform: translateY(-50%);

}



